#board {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#image-area {
    position: relative;
    width: 1500px;
    height: 1500px;
}

#image-area > img {
    position: absolute;
}

#add-button {
    position: fixed;
    width: 100px;
    height: 50px;
    left: 50%;
    top: 20px;
}

.visible-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.horizontal-scroller {
    position: absolute;
    width: 100%;
    height: 80px;
    opacity: 0.2;
}

.vertical-scroller {
    position: absolute;
    width: 80px;
    height: 100%;
    opacity: 0.2;
}

#top-scroller, #left-scroller {
    left: 0;
    top: 0;
}

#right-scroller {
    right: 0;
    top: 0;
}

#bottom-scroller {
    left: 0;
    bottom: 0;
}

#image-limit {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

.image-bounce {
    animation-name: bounce;
    animation-duration: 0.75s;
}

.image-fall {
    animation-name: fall;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.image-sideflip {
    animation-name: sideflip;
    animation-duration: 2.5s;
    animation-timing-function: linear;
}

.image-jump {
    animation-name: jump;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

.image-drop {
    animation-name: drop;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    transform-origin: 0 0;
}

@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

@keyframes fall {
    0% { transform: translateY(-800px) rotate(0deg); }
    100% { transform: translateY(0) rotate(1440deg); }
}

@keyframes sideflip {
    0% { transform: rotateY(90deg); }
    30% { transform: translateX(500px) rotateY(0); }
    100% { transform: translateX(0) rotateY(1080deg); }
}

@keyframes jump {
    0% { transform: rotateX(90deg) }
    30% { transform: translateY(300px) rotateX(0); }
    70% { transform: translateY(-300px) rotateZ(1080deg); }
    100% { transform: translateY(0) rotateZ(1080deg); }
}

@keyframes drop {
    20% { transform: rotateZ(75deg) }
    40% { transform: rotateZ(35deg) }
    60% { transform: rotateZ(55deg) }
    100% { transform: translateY(2500px) rotateZ(60deg) }
}