#server-overlay {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    opacity: 75%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    40% { opacity: 0; }
    100% { opacity: 75%; }
}